* {
    margin: 0;
    padding: 0;
}

.font-style-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.bg-color {
    background-color: rgba(26, 11, 46, 1);
}

/* shared style  */
.display-flex {
    display: flex;
}

/* color 1 */
.white {
    color: rgba(255, 255, 255, 1);
}

/* header  */
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

/* Logo */
.logo {
    padding: 30px;
    width: 219px;
}

.logo img {
    width: 100%;
}

/* Nav Menu */
.nav-menu {
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu li {
    cursor: pointer;
}


.subscribe-btn {
    display: flex;
}

.subscribe-btn button {
    height: 44px;
    width: 135px;
    border: none;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: linear-gradient(47.64deg, rgb(247, 233, 63) 0%, rgb(251, 9, 180) 50%, rgb(145, 0, 248) 100%);
}

.subscribe-btn button img {
    width: 20px;
}

.subscribe-btn button:hover {
    opacity: 0.9;
}

/* Hamburger */
.hamburger {
    display: none;
    width: 32px;
    cursor: pointer;
}

.hamburger img {
    width: 100%;
}

/* banner section  */
.hero-parents {
    height: 100vh;
    width: 100%;
    background: url(../assets/hero-bg.png), rgba(0, 25, 49, 0.8);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero-image {
    position: relative;
    display: inline-block;
    margin: 80px 0;
}

.hero-main {
    position: relative;
    z-index: 10;   
}

.hero-circle {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 260px;
    z-index: 0;    
}



.hero-image .hero-circle {
    position: absolute;
    top: -40px;                 
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 260px;
    z-index: 0;
}

.access {
    position: absolute;
    top: -35px;      
    right: -20px;
    z-index: 20;
    background: rgba(0, 255, 136, 1);
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.hero-content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 30px;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-primary {
    background: linear-gradient(90deg, #FF00FF, #FFD700);
}

.btn-primary:hover {
    opacity: 0.85;
}


.btn-secondary {
    border: 2px solid #00FF90;
    color: #00FF90;
    background: transparent;
}

.btn-secondary:hover {
    background: #00FF90;
    color: #000;
}


@media (max-width: 992px) {
    .navbar {
        padding: 0 24px;
    }

    .nav-menu {
        display: none;
    }

    .subscribe-btn {
        display: none;
    }

    .hamburger {
        display: block;
    }
}
