* {
    margin: 0;
    padding: 0;
}

.font-style-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.bg-color {
    background-color: rgba(26, 11, 46, 1);
}

/* shared style  */
.display-flex {
    display: flex;
}

/* color 1 */
.white {
    color: rgba(255, 255, 255, 1);
}

/* header  */
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

/* Logo */
.logo {
    padding: 30px;
    width: 219px;
}

.logo img {
    width: 100%;
}

/* Nav Menu */
.nav-menu {
    list-style: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
}

.nav-menu li {
    cursor: pointer;
}


.subscribe-btn {
    display: flex;
}

.subscribe-btn button {
    height: 44px;
    width: 135px;
    border: none;
    border-radius: 10000px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: linear-gradient(47.64deg, rgb(247, 233, 63) 0%, rgb(251, 9, 180) 50%, rgb(145, 0, 248) 100%);
}

.subscribe-btn button img {
    width: 20px;
}

.subscribe-btn button:hover {
    opacity: 0.9;
}

/* Hamburger */
.hamburger {
    display: none;
    width: 32px;
    cursor: pointer;
}

.hamburger img {
    width: 100%;
}

@media (max-width: 576px) {
    .navbar {
        padding: 0 24px;
    }

    .logo {
        padding: 20px 20px;
        gap: 239px;
    }

    .nav-menu {
        display: none;
    }

    .subscribe-btn {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

/* banner section  */
.hero-parents {
    height: 100vh;
    width: 100%;
    background: url(../assets/hero-bg.png), rgba(0, 25, 49, 0.8);
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.hero-image {
    position: relative;
    display: inline-block;
    margin: 80px 0;
}

.hero-main {
    position: relative;
    z-index: 10;
}

.hero-circle {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 260px;
    z-index: 0;
}



.hero-image .hero-circle {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 260px;
    z-index: 0;
}

.access {
    position: absolute;
    top: -35px;
    right: -20px;
    z-index: 20;
    background: rgba(0, 255, 136, 1);
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.hero-content h1 {
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-content p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto 30px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    transition: transform 0.3s ease;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-weight: 600;
    padding: 12px 25px;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-primary {
    background: linear-gradient(90deg, #FF00FF, #FFD700);
}

.btn-primary:hover {
    transform: translateY(-2px);
    opacity: 0.85;
}


.btn-secondary {
    border: 2px solid #00FF90;
    color: #00FF90;
    background: transparent;
}

.btn-secondary:hover {
    background: #1e4d39;
    color: #000;
}



@media (max-width: 576px) {
    .hero-parents {
        height: auto;
        padding: 40px 10px;
    }

    .hero-image {
        margin: 60px 0;
        display: inline-block;
    }

    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1rem;
        padding: 0 15px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        flex-wrap: nowrap;
    }

    .btn {
        padding: 10px 15px;
        font-size: 0.85rem;
        white-space: nowrap;
    }
}

#about {
    padding: 200px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.pod-head-container {
    margin-top: 50px;
    margin-bottom: 16px;
}

.pod-head-container h2 {
    margin-bottom: 16px;
    font-size: 3rem;
    font-weight: 700;
}

.pod-head-container p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
}

.pod-head-container .last-text {
    margin-top: 60px;
}

.pod-card-container {
    margin-top: 160px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.pod-card {
    text-align: center;
    padding: 15px 0;
}

.pod-card h1 {
    font-size: 3rem;
    color: rgba(0, 255, 136, 1);
    margin: 0 0 5px 0;
    font-weight: bold;
}

.pod-card p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 576px) {
    #about {
        padding: 60px 20px;
    }

    .pod-head-container h2 {
        font-size: 2rem;
    }

    .pod-head-container p {
        font-size: 0.5rem;
        line-height: 24px;
    }

    .pod-head-container .last-text {
        margin-top: 30px;
    }

    .pod-card-container {
        margin-top: 60px;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .pod-card h1 {
        font-size: 2.5rem;
    }

    .pod-card p {
        font-size: 0.9rem;
    }
}

#choose-container {
    background-color: rgba(35, 14, 61, 1);
    padding: 60px 20px;
    text-align: center;
}

#choose-container h2 {
    font-style: Bold;
    font-size: 3rem;
    font-weight: 700;
    line-height: 58px;
}

.card-audio {
    grid-area: audio;
}

.card-mobile {
    grid-area: mobile;
}

.card-community {
    grid-area: community;
}

.card-interviews {
    grid-area: interview;
}

.card-resources {
    grid-area: resources;
}

.choose-container-card {
    display: grid;
    max-width: 1200px;
    margin: 40px auto 0;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "audio mobile mobile"
        "audio community community"
        "interview interview resources";
}


.choose-card {
    background: rgba(53, 17, 101, 0.4);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(145, 0, 248, 1);
    text-align: left;
}

.choose-card img {
    width: 40px;
    margin-bottom: 20px;
}

.choose-card h3 {
    font-style: Bold;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
}

.choose-card p {
    font-size: 1rem;
    line-height: 1.5;
    opacity: 0.6;
}

@media screen and (max-width: 576px) {
    .choose-container-card {
        grid-template-areas:
            "audio"
            "mobile"
            "community"
            "interview"
            "resources";
        grid-template-columns: 1fr;
    }

    #choose-container h2 {
        font-size: 1rem;
    }
}

.episodes-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 120px;
}

.episodes-section h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: bold;
}

.episodes-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.episode-card {
    background-color: rgba(37, 13, 68, 1);
    border-radius: 20px;
    overflow: hidden;
    width: 330px;
    gap: 30px;
    text-align: left;
    transition: transform 0.3s ease;
}

.episode-card:hover {
    transform: translateY(-10px);
}

.thumbnail-container {
    position: relative;
    width: 100%;
    height: 190px;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.play-btn img {
    width: 50%;
    padding: 10px 10px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border-radius: 50%;
}

.play-btn:hover {
    opacity: 0.8;
}

.content {
    padding: 20px;
}

.content h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
    line-height: 1.4;
}

.content p {
    font-size: 14px;
    color: #b3a8c4;
    line-height: 1.5;
    margin-bottom: 20px;
}

.duration {
    font-size: 14px;
    color: #00ff88;
    font-weight: 500;
    margin-top: 12px;
}

.duration img {
    margin-top: 14px;
    width: 20px;
}

@media screen and (max-width: 576px) {
    .episodes-section {
        margin-top: 60px;
        padding: 0 15px;
    }

    .episodes-section h2 {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .episodes-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .episode-card {
        width: 100%;
        max-width: 340px;
    }

    .thumbnail-container {
        height: 180px;
    }

    .content h3 {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 0.8125rem;
        margin-bottom: 15px;
    }
}

.host {
    text-align: center;
    padding: 0 150px;
}

.host h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 120px;
}

.host-container {
    background-color: rgb(26, 11, 56);
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.host-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgba(83, 60, 114, 1);
    object-fit: cover;
}

.host-text {
    text-align: left;
}

.host-text h3 {
    font-size: 2.5rem;
    margin: 0 0 15px 0;
}

.host-text p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 25px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a img {

    width: 30px;
    height: 30px;
    padding: 12px 12px;
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);
    opacity: 0.8;
    transition: 0.3s;
}

.social-icons a img:hover {
    opacity: 1;
    transform: translateY(-3px);
}
@media (max-width: 576px) {
    .host {
        padding: 0 20px; 
    }

    .host h2 {
        font-size: 2rem;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .host-container {
        flex-direction: column; 
        text-align: center;
        padding: 40px 20px;
        gap: 20px;
        margin-bottom: 40px; 
    }

    .host-text {
        text-align: center; 
    }

    .host-text h3 {
        font-size: 1.8rem;
    }

    .social-icons {
        justify-content: center; 
    }
}